html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    background-image: url('imagens/batman.webp');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: -150px center;
}

.box1 {
    height: 200px;
    background: #ffff00 url('imagens/BatmanLogo.png') center / auto 150px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 100px #fff;
    margin: 50px auto;
    border: 10px solid;
}

.box {
    width: 500px;
    height: 100px;
    background-color: #fffA;
    margin: 50px;
    border-width: 5px;
    border-style: outset;
    border-color: #ffff00;
}

.box {
    font-size: 1.5em;
    color: #000;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: arial;
    font-weight: bolder;
    text-align: center;
    line-height: 100px;
    text-decoration: overline underline;
    font-style: oblique;
}

.box:hover {
    border-color: #ffff;
    background-color: #ffff00;
    cursor: pointer;
}
